<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            Runway
          </th>
          <% @data["runways"].each do |runway|%>
            <th>
              <%= Runway.find(runway[0]).number %>
            </th>
          <%end%>

        </tr>


      </thead>
      <tbody>
      
        <% times = @data["time"]%>
        <% runways = @data["runways"] %>
        <% wind_direction = @data["wind_direction"] %>
        <% wind_speed = @data["wind_speed"] %>

        <% times.each_with_index do | time, i | %>
        <tr>

          <td>
            <p><%=time%></p>
            <p>Wind Direction: <%= wind_direction[i]%></p>
            <p>Wind Speed: <%= wind_speed[i]%></p>
          </td>

          <% runways.each do | runway | %>
            <% crosswind = runway[1][i]["crosswind"] %>
            <% if crosswind >= 5 %>
              <td class="table-danger">
                <p>Crosswind Component: <%= crosswind%></p>
              </td>
            <% elsif crosswind >= 4 %>
              <td class="table-warning">
                <p>Crosswind Component: <%= crosswind%></p>
              </td>
            <% else %>
              <td class="table-success">
                <p>Crosswind Component: <%= crosswind%></p>
              </td>
            <% end %>

          <% end %>
        </tr>
        <%end%>
      <tbody>
    </table>
  </div>
</div>
